<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>About</h3>
            <ul>
                <li><a href="/about">Hakkımızda</a></li>
                <li><a href="/contact">İletişim</a></li>
                <li><a href="#0">Kariyer</a></li>
            </ul>
        </div>
        <div class="col-md-4" id="newsletter">
            <h3>Bülten</h3>
            <p>
                Gelişmelerden haberdar olmak için mail adresinizi bırakın.
            </p>
            <div id="message-newsletter_2">
            </div>
            <form method="post" action="#" name="newsletter_2" id="newsletter_2">
                <div class="form-group">
                    <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Mail Adresiniz" class="form-control">
                </div>
                <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
            </form>
        </div>
        <div class="col-md-4">
            <h3>Ayarlar</h3>
            <div class="styled-select">
                <select class="form-control" name="lang" id="lang">
                    <option value="English" selected>English</option>
                    <option value="French">French</option>
                    <option value="Spanish">Spanish</option>
                    <option value="Russian">Russian</option>
                </select>
            </div>
            <div class="styled-select">
  search              <select class="form-control" name="currency" id="currency">
                    <option value="USD" selected>USD</option>
                    <option value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                    <option value="RUB">RUB</option>
                </select>
            </div>
        </div>
    </div><!-- End row -->
    <div class="row">
        <div class="col-md-12">
            <div id="social_footer">
                <ul>
                    <li><a href="#0"><i class="icon-facebook"></i></a></li>
                    <li><a href="#0"><i class="icon-twitter"></i></a></li>
                    <li><a href="#0"><i class="icon-google"></i></a></li>
                    <li><a href="#0"><i class="icon-instagram"></i></a></li>
                    <li><a href="#0"><i class="icon-pinterest"></i></a></li>
                    <li><a href="#0"><i class="icon-vimeo"></i></a></li>
                    <li><a href="#0"><i class="icon-youtube-play"></i></a></li>
                </ul>
                <p>
                    © Enfesco 2016
                </p>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End container -->
