<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
  <header>
  <div class="container-fluid">
      <% include ../partials/header %>
  </div><!-- End container -->
  </header>
  <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="static/img/burger.jpg" data-natural-width="1400" data-natural-height="350">
      <div id="subheader">
  	<div id="sub_content">
      	<h1>İletişim</h1>
      </div><!-- End sub_content -->
  </div><!-- End subheader -->
  </section><!-- End section -->
      <!-- End SubHeader ============================================ -->

      <div id="position">
          <div class="container">
              <ul>
                  <li><a href="/">Anasayfa</a></li>
                  <li>İletişim</li>
              </ul>
          </div>
      </div><!-- Position -->

  <!-- Content ================================================== -->
  <div class="container margin_60_35">
  	<div class="row" id="contacts">

          	<div class="box_style_2">
              	<h2 class="inner">Enfesco Adresi</h2>
                  <p class="add_bottom_30">Bahçelievler, 34303 Istanbul, Turkey</p>
                  <p><a href="tel://0212 2398909" class="phone"><i class="icon-phone-circled"></i>  0212 2398909</a></p>
                  <p class="nopadding"><a href=""><i class="icon-mail-3"></i> contact@enfesco.com</a></p>
              </div>


      </div><!-- End row -->
  </div><!-- End container -->

  <div class="layer"></div><!-- Mobile menu overlay mask -->
  <script src="static/js/jquery-1.11.2.min.js"></script>
  <script src="static/js/common_scripts_min.js"></script>
  <script src="static/js/functions.js"></script>
</body>
</html>
