<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
  <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="static/img/burger.jpg" data-natural-width="1400" data-natural-height="350">
      <div id="subheader">
  	<div id="sub_content">
      	<h1>İletişim</h1>
      </div><!-- End sub_content -->
  </div><!-- End subheader -->
  </section><!-- End section -->
      <!-- End SubHeader ============================================ -->

      <div id="position">
          <div class="container">
              <ul>
                  <li><a href="/">Anasayfa</a></li>
                  <li>İletişim</li>
              </ul>
          </div>
      </div><!-- Position -->

  <!-- Content ================================================== -->
  <div class="container margin_60_35">
  	<div class="row" id="contacts">
      	<div class="col-md-6 col-sm-6">
          	<div class="box_style_2">
              	<h2 class="inner">Customer service</h2>
                  <p class="add_bottom_30">Adipisci conclusionemque ea duo, quo id fuisset prodesset, vis ea agam quas. <strong>Lorem iisque periculis</strong> id vis, no eum utinam interesset. Quis voluptaria id per, an nibh atqui vix. Mei falli simul nusquam te.</p>
                  <p><a href="tel://004542344599" class="phone"><i class="icon-phone-circled"></i>  +45 423 445 70</a></p>
                  <p class="nopadding"><a href=""><i class="icon-mail-3"></i> customercare@quickfood.com</a></p>
              </div>
      	</div>
          <div class="col-md-6 col-sm-6">
          	<div class="box_style_2">
              	<h2 class="inner">Restaurant Support</h2>
                  <p class="add_bottom_30">Quo ex rebum petentium, cum alia illud molestiae in, pro ea paulo gubergren. Ne case constituto pro, ex vis delenit complectitur, per ad <strong>everti timeam</strong> conclusionemque. Quis voluptaria id per, an nibh atqui vix.</p>
                  <p><a href="tel://004542344599" class="phone"><i class="icon-phone-circled"></i>  +45 423 445 99</a></p>
                  <p class="nopadding"><a href="m"><i class="icon-mail-3"></i> support@quickfood.com</a></p>
              </div>
      	</div>
      </div><!-- End row -->
  </div><!-- End container -->

  <div class="layer"></div><!-- Mobile menu overlay mask -->
  <script src="static/js/jquery-1.11.2.min.js"></script>
  <script src="static/js/common_scripts_min.js"></script>
  <script src="static/js/functions.js"></script>
</body>
</html>
